<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hist学生宿舍管理系统-uimaker.com</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/js/jquery.js"></script>

<script language="javascript">
	$(function(){
    $('.loginbox0').css({'position':'absolute','left':($(window).width()-810)/2});
	$(window).resize(function(){  
    $('.loginbox0').css({'position':'absolute','left':($(window).width()-810)/2});
    })  
});  
</script> 

</head>

<body style="background-color:#df7611; background-image:url(/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">


<div class="logintop">    
    <span>欢迎进入Hist学生宿舍管理系统</span>    
    <ul>
    <li><a href="#">回首页</a></li>
    <li><a href="#">帮助</a></li>
    <li><a href="#">关于</a></li>
    </ul>    
    </div>
    
    <div class="loginbody1">
    
    <span class="systemlogo"></span> 
       
    <div class="loginbox0">
    
    <ul class="loginlist">
    <li><a href="/student/"><img src="/images/l01.png" alt=""/><p>学生登录窗口<br /></p></a></li>
    <li><a href="login3.html"><img src="/images/l03.png" alt=""/><p>系统管理员登录窗口<br /></p></a></li>
        <li><a href="login4.html"><img src="/images/l04.png" alt=""/><p>宿舍管理员登录窗口<br /></p></a></li>
        <li><a href="#"><img src="/images/l02.png" alt=""/><p>待开发<br /></p></a></li>
    </ul>
    
    
    </div>
    
    </div>

<div class="loginbm">本系统致力于学生宿舍管理，使宿舍管理变得更加轻松！(●'◡'●)</div>
	
    
</body>

</html>
